[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.13"

[packages]
hikari = {extras = ["speedups"], version = "*"}
hikari-miru = "*"
colorlog = "*"
uvicorn = "*"
toml = "*"
aiohttp = "*"
orjson = "*"
setproctitle = "*"
uvloop = "*"
python-pidfile = "*"
hikari-lightbulb = "*"
django = "*"
lolpython = "*"
pyfiglet = "*"
cysystemd = "*"
tornado = "*"
pillow = "*"
anytree = "*"
plotly = "*"
numpy = "*"
cryptography = "*"
nintab = {git = "https://github.com/tairabiteru/nintab.git"}

[dev-packages]
