body {
  margin: 0;
  min-width: 250px;
  background-color: #555;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgb(138, 43, 226);
  color: white;
  font-size: 18px;
  transition: 1s;
  font-family: Arial, Helvetica, sans-serif;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Darker background-color on hover */
ul li:hover {
  background: rgb(100, 30, 200);
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #555;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.header {
    background-color: blueviolet;
    padding: 30px 40px;
    color: white;
    text-align: left;
    align-items: center;
    display: flex;
    border-bottom: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.header:after{
    content: "";
    display: table;
    clear: both;
}

.avatar {
  clip-path: circle();
  width: 80px;
  height: 80px;
  margin-right: 30px;
}


.reminder_button {
  font-weight: bold;
  border-radius: 10px;
  transition-duration: 0.2s;
  color: white;
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  border: 2px solid white;
}

.reminder_button:hover {
  background-color: gray;
}

.delete {
  background-color: #ff4444;
}

.recurring {
  background-color: darkviolet;
}

.create {
  background-color: #3333ff;
}

.li_text {
  display: inline;
  padding-right: 50px;
}

input[type=text] {
  height:32px;
}